/*limpar formatação*/
*{
    margin:0;
    padding:0;
}
/*prestar ateção pra ajeitar as cores senhor*/
body{
    font-size:1em;
       font-family:"Arial", Helvetica, sans-serif;
       background:#EBE9E9;
}
/*layout da pagina*/
#cabeçalho{
    background:#3E7CEE;
    padding:20px;
    text-align:center;
    height:200px;
}
/*layout dos links*/
a{
    text-decoration:none;
   
}
a:link,a:visited{
    color:Black;
    padding:8px 12px;
}
 a:hover{
    color:#3E7CEE;
    background-color:#FFFFFF;
}
#logo, #menus{
    padding:15px;
}
h1{
    font-size:3.0em;
    color:#DDE10E;
}
h2{
    color:black;
    font-size:2.0em;
    border-bottom:2px solid white;
    padding:15px;
}
.azul{
    color:#3E7CEE;
}
.branco{
    color:#FFFFFF;
}
/*layout do conteudo*/
#area-principal{
    margin:0 auto;
    padding:15px;
    width: 620px;
    background: white;
}
.ima{
    padding-left:50px;
    width:500px;
    height: 400px;
}
p{
    font-weight:bold;
    padding:10px;
    color:#76766F;
}