/*limpar formatação*/
*{
    margin:0;
    padding:0;
}
/*prestar ateção pra ajeitar as cores senhor*/
body{
    font-size:1em;
       font-family:"Arial", Helvetica, sans-serif;
       background:#EBE9E9;
}
/*layote dos conteudos*/
#area-p{
    width:920px;
    margin:0 auto;
    padding:15px;
}

.data{ /* <---era pra ser id*/
    color:#3E7CEE;
    font-size:0.7em;
    border-bottom:1px solid white;
    display:block;
    margin-bottom:12px;
    padding-bottom:12px;
}

#posta{
    width:650px;
    float:left;
    background:#3E7CEE;  /*<---a borda amarela grande*/
}
#area-lateral{
    width:250px;
    float:right;
}
.conteudo-lateral{
    background: white;
    padding: 11px;
    margin-bottom:18px;
}
.postagem-lateral{
    padding:3px;
    color:black;

}
#rodape{
    clear:both;
    text-align:center;
    padding:15px;
    background:#3E7CEE;
}
#rodape-pubg{
    color:#DDE10E;
}
#rodape-promesa{
    text-align: center;
    font-weight:bold;
    font-size:0.7em;
    font-style: italic;
    border-top:1px solid #FFFFFF;
}
.p1{
    padding: 20px;
    background:#FFFFFF; /* você agora vai para o terceiro video*/
}
.ima{
    width:500px;
    margin-left:50px;
}
/* layout dos menus*/
a{
    text-decoration:none;
   
}
 a:link,a:visited{
    color:Black;
    padding:8px 12px;
}
 a:hover{
    text-decoration: underline ;
}
#cabeçalho a:link,#cabeçalho a:visited{
    color:black;
    padding:8px 12px;
}
#cabeçalho a:hover{
    color:#3E7CEE;
    background-color:#FFFFFF;
    text-decoration:none;
}

/*layout da pagina*/
#cabeçalho{
    background:#3E7CEE;
    padding:20px;
    text-align:center;
    height:200px;
}
#logo, #menus{
    padding:15px;
}
h1{
    font-size:3.0em;
    color:#DDE10E;
}
h2{
    color:black;
    font-size:2.0em;
    border-bottom:2px solid white;
}
h3{
    color:#3E7CEE;
    background:#EBE9E9;
}
.branco{
    color:#FFFFFF;
}
p{
    font-weight:bold;
    padding:10px;
    color:#76766F;
}
i{
    font-size:0.8em;
}
#confi-rodape{
    font-weight:normal;
    color:black;
    
}
